/* DEFAULT */
/* Resetando margens */
* {
  margin: 0px;
  box-sizing: border-box;
}

/* Geral */

body,
html {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: black;
  padding: 20px;
}

.customColor {
  color: wheat;
}

/* Header */

header {
  padding: 10px;
  text-align: center;
}

/* Corpo principal */

#btn_cep {
  margin-left: 5px;
}

.span-token {
  color: rgb(177, 104, 62);
}

.customColor div {
  border-left: 5px solid darkblue;
  padding-left: 5px;
}

.infoContainer {
  display: flex;
  min-width: 800px;
  justify-content: space-around;
}

img {
  max-width: 400px;
  height: auto;
}

ul > * {
  margin: 10px;
}

@media only screen and (max-width: 495px) {
  #pills-tab {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 14px;
    padding: 2px;
  }

  .display-1 {
    text-align: center;
  }

  ul > * {
    margin: 0px;
  }
}

.btn {
  min-width: 128px;
}

@media only screen and (max-width: 280px) {
  #pills-tab {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 12px;
    padding: 2px;
  }

  .display-1 {
    text-align: center;
  }

  ul > * {
    margin: 0px;
  }
}

@media only screen and (max-width: 992px) {
  .col-4 {
    width: auto;
  }

  .customSize {
    width: 100%;
  }
}

.nav-item:hover {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.103);
}

/* TAB CURSO */

/* Data table*/

.dataTables_length {
  display: flex;
}

#cursosTable_filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

#cursosTable_filter label {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.sorting:hover {
  cursor: pointer;
}

tr {
  cursor: pointer;
}

.tbCurso {
  overflow-x: hidden;
}

/* TAB ALUNO */

/* Data table*/

.cadastra-aluno-btn,
.cadastra-curso-btn {
  margin-bottom: 10px;
}

.dataTables_length {
  display: flex;
}

#alunosTable_filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}

#alunosTable_filter label {
  width: 100%;
}

.pagination {
  display: flex;
  justify-content: flex-end;
}

.sorting:hover {
  cursor: pointer;
}

tr {
  cursor: pointer;
}
